@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url('snake2.png');
    min-height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scoreBox{
    position: absolute;
    top: 70px;
    right: 200px;
    padding-left: 20px;
    font-size: 39px;
    font-weight: bold;
    height: 50px;
    width: 178px;
    background-color: rgba(172, 255, 47, 0.452);
    font-family: 'Supermercado One', cursive;
    color: black;
}

#board{
    background: linear-gradient(rgb(94, 192, 94), rgb(107, 233, 216)); 
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: radial-gradient(red, rgb(49, 28, 145), rgb(3, 3, 163));
    border: 2px solid rgb(27, 7, 116);
    transform: scale(1.03);
    border-radius: 10px;
}

.snake{
    background: linear-gradient(rgba(238, 54, 54, 0.794), rgb(112, 6, 131));
    border: .30px solid rgb(255, 251, 0);
    border-radius: 12px;                                                                              
}
.food{
    background: linear-gradient(red, yellow);
    border: .30px solid rgb(133, 22, 22);
    border-radius: 12px;
}